name: Build and Release

on:
  push:

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        include:
          # macOS
          - goos: darwin
            goarch: amd64
            name: macos-amd64
            ext: ""
          - goos: darwin
            goarch: arm64
            name: macos-arm64
            ext: ""
          # Windows
          - goos: windows
            goarch: amd64
            name: windows-amd64
            ext: ".exe"
          - goos: windows
            goarch: arm64
            name: windows-arm64
            ext: ".exe"
          - goos: windows
            goarch: 386
            name: windows-386
            ext: ".exe"
          # Linux
          - goos: linux
            goarch: amd64
            name: linux-amd64
            ext: ""
          - goos: linux
            goarch: arm64
            name: linux-arm64
            ext: ""
          - goos: linux
            goarch: arm
            name: linux-arm
            ext: ""
          - goos: linux
            goarch: 386
            name: linux-386
            ext: ""
          # FreeBSD
          - goos: freebsd
            goarch: amd64
            name: freebsd-amd64
            ext: ""
          - goos: freebsd
            goarch: arm64
            name: freebsd-arm64
            ext: ""
    steps:
      - uses: actions/checkout@v6

      - name: Set up Go
        uses: actions/setup-go@v6
        with:
          go-version-file: "go.mod"

      - name: Build
        env:
          GOOS: ${{ matrix.goos }}
          GOARCH: ${{ matrix.goarch }}
        run: go build -o "lfm-cli-${{ matrix.name }}.${{ github.ref_name }}${{ matrix.ext }}" -v .

      - name: Upload artifact
        uses: actions/upload-artifact@v6
        with:
          name: lfm-cli-${{ matrix.name }}
          path: lfm-cli-*